.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
/.yarn/install-state.gz
**/tsdoc-metadata.json

# === packages stuff ===

# exclude temporary files
/packages/**/temp/**
/plugins/**/temp/**
# exclude generated types declaration
/packages/**/types/
/plugins/**/types/
# preserve api report file
!/packages/**/types/*.api.md
!/plugins/**/types/*.api.md

# exclude coverage reports
**/coverage